a {text-decoration: none;}
#wrapper {width: 40%;
          background: #fff;
          margin: 10% auto;  
          text-align:center;}          
.hffeed2,h1,p,form,$word,a,a: {text-align:center;}  
input,img{ display:block;
    margin-left: auto;        
    margin-right: auto;}       
body {background: darkblue;}